{%  extends 'base.html.twig' %}

{% block title %}CV Page{% endblock %}

{% block stylesheets %}
    <style>
        img{
            margin: 40px 0 0 17%;
            border: 3px solid;
            border-radius: 10px;
            transition: transform 1s ease;
        }

        img:active{
            transform: translateY(100%);
        }
    </style>
{% endblock %}

{% block body %}
    <img src="https://www.modeles-de-cv.com/wp-content/uploads/2020/01/120-modele-cv-francais.jpg">
{% endblock %}