{% extends 'base.html.twig' %}
{% trans_default_domain 'form' %}


{% block title %}{{ "form_subscribe" | trans }}{% endblock %}

{% block body %}

    <h2>{{ "form_subscribe" | trans }}</h2>
    {{ form_start(form) }}
    {{ form_row(form.firstName, {"label": "Prénom"}) }}
    {{ form_row(form.lastName, {"label": "Nom de famille"}) }}
    {{ form_row(form.email, {"label": "Email"}) }}
        <button type="submit" class="btn btn-success">Inscrivez-vous</button>
    {{ form_end(form) }}

{% endblock %}